<h1><%= @club.name %></h1>

<p>You are authorized for entry! Welcome.</p>

<p><%= link_to "Edit", edit_club_path(@club) %></p>
<p><%= link_to "Delete", club_path(@club), method: :delete %></p>
<p><%= link_to "Back to all clubs", clubs_path %></p>
