<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
  </head>
  <body>
    <h1>TODO List</h1>

    <p><%= @current_time %></p>

    <ul>
      <% @todo_list.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </body>
</html>
